body{background-color:cadetblue;text-align: justify;}
h1{text-align: center;background-color:black; color:aquamarine ;}
b{color:rgba(0, 120, 190, 0.788); font-size: 18px;}
i{color:rgba(0, 120, 190, 0.788); font-size: 18px;}
header, footer{background-color:rgba(75, 188, 192, 0.705); color:aquamarine; text-align: center;}
main{background-color:cadetblue;}