body{background-color:cadetblue;text-align: justify;}
h1{text-align: center;background-color:black; color:aquamarine ;}
b{color:lightgrey; font-size: 18px;}
i{color:lightgray; font-size: 18px;}
header, footer{background-color:beige; color:aquamarine; text-align: center;}
main{background-color:cadetblue;}